@font-face {
  font-family: "Minecraft";
  src: url("Minecraft.ttf");
}

*{
  font-family: 'Minecraft';
  color: white;
}

.navbar {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #252424;
    padding: 10px;
    height: 30px;
  }
  
  .navbar-links a {
    margin-right: 10px;
    color: white;
    text-decoration: none;
  }
  
  .navbar-logo img {
    display: block;
    margin: 0 auto;
    width: 155px;
    height: 25px;
  }
  
  .navbar-login button {
    padding: 8px 16px;
    background-color: GREEN;
    color: white;
    border: none;
    cursor: pointer;
  }

  .navbar-login button:hover{
    scale: 1.1;
    border-bottom: 2px solid rgb(137, 209, 2);
  }

  body{
    background-image: url("https://www.minecraft.net/content/dam/games/minecraft/background-images/pdp-hero-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
  }
  .content{
    display: flex;
    margin-left: 15%;
    margin-right: 15%;
    justify-content: center;
    flex-wrap: wrap;
    color: white;
}
  .form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  #login{
    padding-top: 100px;
    padding: 20px;
    max-width: 400px;
    background-color: white;
    border-radius: 10px;
    width: 100%;
  }

  #login label{
    color: black;
    display: block;
    margin-bottom: 10px;
  }
  #login input{
    color: black;
    display: block;
    margin-bottom: 20px;
    width: 95%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #CCCC;
  }
  #login button{    
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    background-color: green;
  }
  #info-content {
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
    letter-spacing: 1.5px;
  }
  #about_title-infos{
    margin: 0 auto;
    padding-inline: 60px;
  }
  #redstone-video{
    display: block;
    margin: 0 auto;
    border: 2px solid #CCCC;
    border-radius: 18px;
  }
  #minecraft-game{
    display: block;
    margin: 0 auto;
    border: 2px solid #CCCC;
    border-radius: 18px;  
  }
  #audio-icon{
    height: 30px;
    padding: 10px 30px;
  }

  #audio-button{
    margin-left: auto;
    width: 50px;
    height: 30px;
    background-color: transparent;
    border-color: transparent;
    cursor: pointer;
  }
  #audio-button:active{
    scale: 0.90;
  }
  #foto-1{
    width: 600px;
    border: 2px solid#CCCC;
    border-radius: 10px;
  }
  #tbl_exporttable_to_xls {
    
  }